.header-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.footer-class {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 20px;
  text-align: center;
}
.footer-class a {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-class a .logo-white {
  color: #ffffff;
}