body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  line-height: 24px;
  background-color: #ffff;
}
.site-logo {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-highlight {
  color: #2e2f42;
}
.address-normal{
  font-style: normal
}
.menu-item{
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
h1 {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
}
h2 {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.section_1 {
  background-color: #2e2f42;
}
.portfolio {
}
